<div
  class="w-screen bg-white  justify-center items-center pt-2 border-b pb-2 hidden lg:flex"
>
  <div class="container max-xl:w-[90%] flex-center ">
    <div class="w-full">
      <div class="flex justify-between items-center w-full">
        <div class=" flex items-center">
          <div class="flex items-center gap-1 text-slate-800 text-sm">
            <i class="fa-solid fa-envelope text-orange-500"></i>
            <p>winkhoy2560&#x40;gmail.com</p>
          </div>
          <span class="w-[1px] h-4 mx-3 bg-slate-600"></span>
          <div class="flex items-center gap-1 text-slate-800 text-sm">
            <i class="fa-solid fa-map text-orange-500"></i>
            <p>Tabaen Svay Check Banteay Meanchey</p>
          </div>
        </div>
        <div class="flex justify-end items-center gap-2">
          <ul class="flex gap-2 justify-end items-center">
            <li *ngFor="let icon of socialIcon">
              <a
              target="_blank"
                [href]="icon.link"
                class="flex items-center justify-center w-8 h-8 bg-gray-300 text-white rounded-full hover:bg-orange-500 duration-300 ease-in-out hover:scale-110"
              >
                <i class="{{ icon.icon }}"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
