<div class="w-screen h-80 flex-center relative bg mb-10">
  <div class="w-full h-full blur-white4"></div>
  <div class="w-full flex flex-col items-center justify-center absolute left-0">
    <span
      class="uppercase text-lg font-sans font-semibold text-black px-5 py-2 bg-white"
      >Home / Contact Us</span
    >
    <h1
      class="text-4xl lg:text-5xl xl:text-6xl font-bold font-sans text-white mt-5 uppercase"
    >
      Contact Us
    </h1>
  </div>
</div>

<div class="w-screen overflow-hidden flex justify-center bg-white my-16">
  <div class="w-[90%]  xl:container  grid grid-cols-1 gap-10">
    <div class="w-full h-[770px] grid grid-cols-1 lg:grid-cols-2 lg:gap-14">
      <div class="grid grid-cols-1">
        <span
          class="text-sm lg:text-lg text-orange-600 font-bold uppercase flex items-center gap-2"
        >
          <i class="w-[2px] h-6 bg-orange-600"></i>
          Contact us
        </span>
        <h1
          class="text-3xl lg:text-5xl  mt-5 lg:mt-0 text-black font-bold"
        >
          Get In Touch With Our
          <span class=""> Agents </span>
        </h1>
        <p class="text-lg sm:text-xl mt-5 lg:mt-0">
          When you really need to download free CSS templates, please remember
          our website TemplateMo. Also, tell your friends about our website.
          Thank you for visiting. There is a variety of Bootstrap HTML CSS
          templates on our website. If you need more information, please contact
          us.
        </p>

        <div class="grid grid-cols-1 gap-3 mt-10 lg:mt-0">
          <div
            class="flex items-center gap-5 p-5 lg:py-0 box-shadow bg-white rounded-lg"
          >
            <i
              class="fa-solid fa-phone-volume text-2xl lg:text-3xl text-orange-600"
            ></i>
            <div class="lg:text-xl text-lg">
              <p class="font-bold">067975637</p>
              <p class="text-slate-600">Phone Number</p>
            </div>
          </div>
          <div
            class="flex items-center gap-5 p-5 lg:py-0 box-shadow bg-white rounded-lg"
          >
            <i
              class="fa-regular fa-envelope text-2xl lg:text-3xl text-orange-600"
            ></i>
            <div class="text-lg lg:text-xl">
              <p class="font-bold">khvorkhoy&#x40;gmail.com</p>
              <p class="text-slate-600">Business Email</p>
            </div>
          </div>
        </div>
      </div>

      <form
        class="p-6 w-full grid grid-cols-1 gap-5 xl:gap-2 box-shadow rounded-lg mt-20 bg-white lg:mt-[105px]"
      >
        <div class="flex flex-col items-start gap-2">
          <label for="full-name">Full Name</label>
          <input
            class="rounded-full bg-slate-200 p-4 w-full placeholder:text-gray-700 tracking-wide placeholder:text-sm border-none outline-none"
            type="text"
            name="full-name"
            id="full-name"
            placeholder="Your Name..."
          />
        </div>
        <div class="flex flex-col items-start gap-2">
          <label for="email">Email Address</label>
          <input
            class="rounded-full bg-slate-200 p-4 w-full placeholder:text-gray-700 tracking-wide placeholder:text-sm border-none outline-none"
            type="text"
            name="email"
            id="email"
            placeholder="Your E-mail..."
          />
        </div>
        <div class="flex flex-col items-start gap-2">
          <label for="full-name">Subject</label>
          <input
            class="rounded-full bg-slate-200 p-4 w-full placeholder:text-gray-700 tracking-wide placeholder:text-sm border-none outline-none"
            type="text"
            name="full-name"
            id="full-name"
            placeholder="Subject..."
          />
        </div>
        <div class="flex flex-col items-start gap-2">
          <label for="subject">Message</label>
          <textarea
            rows="5"
            class="rounded-xl resize-none bg-slate-200 p-4 w-full placeholder:text-gray-700 tracking-wide placeholder:text-sm border-none outline-none"
            type="text"
            name="subject"
            id="subject"
            placeholder="Subject..."
          ></textarea>
        </div>
      </form>
    </div>

    <div
      class="mt-[450px] lg:mt-24 w-full grid grid-cols-1 rounded-lg p-2 overflow-hidden "
    >
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4596.513940582808!2d102.9623641842671!3d13.779025148512892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311afa7accabc805%3A0x385c79d7ec0f015b!2z4Z6f4Z-S4Z6a4Z674Z6A4Z6f4Z-S4Z6c4Z624Z6Z4Z6F4Z-B4Z6A!5e1!3m2!1skm!2skh!4v1730635794930!5m2!1skm!2skh"
        class="w-full h-[450px] lg:h-[450px] rounded-lg"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
