.bg{
  background-image: url('../../..//public/images/eb54c236-09ee-4081-9cb4-24bda036e625_1200x324-zamora.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

